<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "virtual-easter-egg-hunt-2020.ehan_inc.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Virtual Easter Egg Hunt 2020</name>

    <description>
        An app made to help people connect during Easter and the COVID-19 pandemic
    </description>

    <author href="http://scratch.mit.edu/users/EHAN_INC" email="ehan.inc.us@gmail.com">
        EHAN_INC
    </author>

</widget>
